:root {
  --app-height: calc(100vh - 20px);
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: lightgray;
}
